body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: lightGrey;
    margin: 5%;
    font-size: 16pt;
}

/*Find out how to center in div*/
img {
    width: 100%;
}

#imgHead{
    content:url("../imgs/city_long.png");
}

#img1 {
    content:url("../imgs/nyan.png");
}

#img2 {
    content:url("../imgs/cat.jpg");
}

#img3 {
    content:url("../imgs/keyboard.jpg");
}

#headboard {
    background-color: blue;
    clear: both;
}

#corkboard {
    /*border: solid 1px black;*/
    height: 100%;
    width: 100%;
    text-align: left;
}

#content {
    background: white;
    float: left;
    height: 100%;
    width: 75%;
}

#content .sect {
    /*Empty for now.*/
}

#content .sTitle {
    background: -webkit-linear-gradient(pink, #A6A6A6);
    text-align: center;
    font-size: 20pt;
    color: black;
    clear: both;
}

#content .threeQuart {
    width: 75%;
    float: left;
    margin-bottom: 1em;
}

#content .oneQuart {
    width: 24%;
    float: left;
    margin-bottom: 1em;
    margin-top: 1em;
}

li:nth-child(even) {
    background: -webkit-linear-gradient(pink, #A6A6A6);
}

li:nth-child(odd) {
    background: -webkit-linear-gradient(#A6A6A6, pink);
}

/* Odd, but it worked. Come back to this if you have time */
#firstTitle:nth-child(1) {
  content:url("../imgs/bubble.png");
  width: 100%;
}

#sidebar {
    text-align: center;
    background-color: orange;
    float:right;
    height: 100%;
    width: 25%;
}

#sidebar .title{
    text-align: center;
    font-style: italic;
    font-size: 20pt;
    margin-bottom: 8em;
    color: black;
    clear: both;
}

#sidebar .pTitle {
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 5em;
}

#sidebar .point{
    font-size: 0pt;
}

#baseboard {
    /*Not yet used*/
    clear: both;
}
