body {
    background: -webkit-linear-gradient(#5A5A5A, #D7D7D7);
    margin: 5%;
    font-size: 16pt;
}

/*Find out how to center in div*/
img {
    width: 100%;
    border: 2px solid;
    border-radius: 10px;
}

#imgHead{
    content:url("../imgs/languages_long.jpg");
}

#img1 {
    content:url("../imgs/mexico.jpg");
}

#img2 {
    content:url("../imgs/professional.jpg");
}

#img3 {
    content:url("../imgs/matrix.jpg");
}

#headboard {
    clear: both;
}

#corkboard {
    /*border: solid 1px black;*/
    height: 100%;
    width: 100%;
    text-align: left;
}

#content {
    float: left;
    height: 100%;
    width: 75%;
}

#content .sect {
    /*Empty for now.*/
}

#content .sTitle {
    background: -webkit-linear-gradient(black, #A6A6A6);
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px black;
    font-size: 20pt;
    color: white;
    clear: both;
}

#content .threeQuart {
    width: 75%;
    float: left;
    margin-bottom: 1em;
}

#content .oneQuart {
    width: 24%;
    float: left;
    margin-bottom: 1em;
    margin-top: 1em;
}

#sidebar {
    text-align: center;
    border-left: 3px solid;
    background-color: grey;
    float:right;
    height: 100%;
    width: 24.6%;
}

#sidebar .title{
    background: -webkit-linear-gradient(black, #A6A6A6);
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px black;
    font-style: italic;
    font-size: 20pt;
    color: white;
    clear: both;
}

#sidebar .pTitle {
    font-size: 18pt;
    font-weight: bold;
}

#sidebar .point{
    font-size: 14pt;
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: .25em;
    margin-right: .25em;
}

#baseboard {
    /*Not yet used*/
    clear: both;
}
